body{
    background-image: url('imagens/background2.jpg');
    font-family: sans-serif;
}

.titulo{
    background-color: rgba(0, 0, 0, 0.885);
    text-align: center;
    border-radius: 30px; 
}

.titulo h1{
    color: white;
}

#gato{
    width: 30px;
    height: 30px;
}

img{
    height: 5%;
    width: 10%;
}

.bazinga{
    text-align: center;
}

.sheldon{
    text-align: center;
}

.cooper{
    text-align: center;
}


footer{
    color: white;
    background-color: rgba(0, 0, 0, 0.713);
    text-align: center;
    font-style: italic;
}

.pdf-container {
    width: 100%;
    max-width: 1000px; /* Define a largura máxima do container */
    margin: 0 auto; /* Centraliza o container na página */
}

.pdf-container object {
    width: 100%; /* Define a largura do objeto PDF como 100% do seu container */
    height: 700px; /* Define a altura do objeto PDF como 100% do seu container */
}

.superscript {
    vertical-align: super;
    font-size: smaller;
}

.subscript {
    vertical-align: sub;
    font-size: smaller;
}

math{
    font-size: 23px;
}
